.filter-form {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 100%;
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.filter-item span {
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.filter-item.selected {
  border-color: #ff385c;
}

.search-button {
  padding: 10px 20px;
  background-color: #ff385c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.search-button:hover {
  background-color: #e3304b;
}
